# Database (pakai Vercel Postgres / Supabase / Neon)
DATABASE_URL="postgresql://user:pass@localhost:5432/mydb"

# NextAuth
NEXTAUTH_SECRET="rahasia-super-sulit-ditebak"
NEXTAUTH_URL="http://localhost:3000"

# Admin (email yang jadi admin)
ADMIN_EMAIL="admin@domain.com"

# Aturan Withdraw (dalam Rupiah, tanpa titik)
MIN_WITHDRAWAL=10000
WITHDRAWAL_TAX=1000
WITHDRAWAL_FEE=300